<h1><%= @movie.name %></h1>
<h2>Showtimes:</h2>
<ul>
  <% @movie.showtimes.each do |showtime| %>
    <li>
      <p><%= showtime.date_time.to_s %></p>
      <p><%= "Cost: $#{showtime.cost_dollars}" %></p>
      <p><%= "Seats Available: #{showtime.tickets_available}" %></p>
    </li>
  <% end %>
</ul>
