<div>
  <h2>Order Details</h2>
  <p><%= f.label :quantity, "Number of Tickets" %></p>
  <p>
    <%= f.number_field :quantity,
                         in: 1..showtime.tickets_available,
                         step: 1.0,
                         value: order.quantity || 1,
                         id: "ticket-quantity-selector",
                         required: true %>
    <%= " x $#{cost_dollars(showtime.cost)} per ticket" %>
  </p>
  <p>
    Total Cost: <%= content_tag(:span, data: { ticket_cost: showtime.cost }, id: "total-cost-line-item") do %><% end %>
  </p>
</div>
